<html>
    <head>
        <title>Formulario Cadatro</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h3> Formulário Para Cadastro </h3>
        <form>
            Nome: <br />
            <input type="text"><br />
            Telefone: <br />
            <input type="text"><br />
            E-mail: <br />
            <input type="text"><br />
            <br>
            <button> Cadastrar </button>
        </form>
    </body>
</html>
